[Unit]
Description=pretix web service
After=network.target

[Service]
User={{ pretix_user }}
Group={{ pretix_group }}
Environment="VIRTUAL_ENV={{ pretix_venv_path }}"
Environment="PRETIX_CONFIG_FILE={{ pretix_config_path }}/pretix.cfg"
Environment="PATH={{ pretix_venv_path }}/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart={{ pretix_venv_path }}/bin/gunicorn pretix.wsgi \
                      --name pretix --workers {{ pretix_gunicorn_worker }} \
                      --max-requests 1200  --max-requests-jitter 50 \
                      --log-level=info --bind={{ pretix_bind_address }}
WorkingDirectory={{ pretix_base_path }}
Restart=on-failure
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target